@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  font-family: Exo, sans-serif;
}

.Home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    #00d4ff80 100%
  );
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0px 0px 15px #0000004d;
}

.Home > h2 {
  display: flex;
  justify-content: space-around;
  color: #000000;
}

.Home > div {
  display: flex;
  justify-content: center;
  color: #000000;
}

.Home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.PaletaLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .PaletaLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .PaletaLista {
    grid-template-columns: 1fr;
  }
}

.CartaoPaleta {
  font-family: "Exo";
  background: #ffffff4d;
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
}

.CartaoPaleta {
  margin: 20px 0;
  height: 175px;
}

@media (max-width: 400px) {
  .PaletaCardItem,
  .CartapPaleta_infos {
    width: 210px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .Header {
    width: 210px;
    height: 180px;
  }
}

.PaletaCardItem > div,
.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PaletaListaItem__sabor > h4 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.CartapPaleta_infos > p {
  font-size: 0.85em;
}

.CartapPaleta_infos > spán {
  color: #9400d3;
}

.CartaoPaleta_img {
  height: 150px;
  margin-right: -60px;
}

.paleta-escolhida-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

#idPaleta {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 3.2px;
}

.PesquisaPaletar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#idPaletaBotao {
  background-color: transparent;
  border: 1px solid #9400d3;
  padding: 8px;
  color: #9400d3;
  font-weight: 600;
  border-radius: 6.4px;
  width: 330px;
  cursor: pointer;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

#inputIdPaleta {
  height: 30px;
  width: 330px;
}

.Header {
  width: calc(60vw - 60px);
  height: 12vh;
  align-items: center;
  padding: 0 20vw;
}

.Header > .Header__conteiner {
  height: 12vh;
  display: flex;
  justify-content: space-between;
}

.Header > .Header__conteiner > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  width: 16vw;
  height: 7vh;
  border-radius: 10px;
  position: relative;
  background-color: #ffffff4d;
}

.Header > .Header__conteiner > div > img {
  width: 70px;
  position: absolute;
  left: -25px;
  top: -15px;
}

.MensagemDeErro {
  color: red;
  margin: 16px;
  font-size: large;
}
